In [53]:
import pandas as pd
import numpy as np
import joblib

In [54]:
wk = pd.read_csv('Terragon dataset.csv')
wk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66739 entries, 0 to 66738
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   msisdn               66739 non-null  object
 1   location_region      58736 non-null  object
 2   location_state       58736 non-null  object
 3   location_lga         58733 non-null  object
 4   location_city        0 non-null      float64
 5   device_manufacturer  64985 non-null  object
 6   os_name              64442 non-null  object
 7   os_version           64832 non-null  object
 8   spend_total          65510 non-null  float64
 9   spend_vas            55455 non-null  float64
 10  spend_voice          55455 non-null  float64
 11  spend_data           55455 non-null  float64
 12  sms_cost             55455 non-null  float64
 13  xtra_data_talk_rev   55455 non-null  float64
 14  customer_class       65509 non-null  float64
 15  customer_value       65510 non-null  object
 16  gender               64892 non-null  object
 17  age                  54708 non-null  float64
 18  device_type          66043 non-null  object
 19  ad_id                66739 non-null  object
 20  ad_name              66739 non-null  object
 21  @timestamp           66738 non-null  object
 22  event_type           66738 non-null  object
dtypes: float64(9), object(14)
memory usage: 11.7+ MB

In [55]:
wk.sample(15)

,msisdn,location_region,location_state,location_lga,location_city,device_manufacturer,os_name,os_version,spend_total,spend_vas,...,xtra_data_talk_rev,customer_class,customer_value,gender,age,device_type,ad_id,ad_name,@timestamp,event_type
17824,179ab0309c301dc8f55bb205f52b0244,NaN,NaN,NaN,NaN,tecno,android,4.4,47.4000,160.0,...,0.0,49.0,low,NaN,43.0,Smartphone,/110/1355/1438,doubble_july4_8_adcopy2 SMS,2019-07-06T17:51:00.000Z,sms
40505,a848b885ead29e455c62db1d57d83f15,South East,imo,mbaitoli,NaN,mbo,android,unspecified,73.0800,350.0,...,0.0,46.0,low,F,53.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T15:42:41.000Z,sms
24807,5f8d28caa3b677db3853a12b11688b5d,South West,ekiti,ado ekiti,NaN,Tecno,Android,4,36.5700,NaN,...,NaN,44.0,low,M,NaN,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:40:01.000Z,sms
15325,addae0dd5a4e67b63e66327aa7506dbf,South West,lagos,oshodi-isolo,NaN,motorola,android,7,51600.2300,410.0,...,0.0,186.0,top,M,29.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T15:46:33.000Z,sms
3183,d9823c638673f31aa29eea71692cf86d,North East,adamawa,numan,NaN,itel,mtk rtos,unspecified,715.4000,100.0,...,0.0,46.0,medium,M,55.0,Smartphone,/110/1133/1210,doubble_june6_osname_mtk SMS,2019-06-08T07:11:55.000000,sms
57706,fb00d3c4933876a15539b9bbf8778e1d,NaN,NaN,NaN,NaN,tecno,proprietary os,proprietary os,7252.7500,315.0,...,0.0,46.0,very high,M,26.0,Feature Phone,/110/1278/1355,doubble_june16_sms150 SMS,2019-06-16T12:19:30.000Z,sms
54409,94358e62c50ce5c0b5836c800291c96c,South West,lagos,shomolu,NaN,itel,android,5.1,2703.0700,100.0,...,0.0,44.0,high,M,34.0,Smartphone,/110/1348/1428,doubble_july1_5 SMS,2019-07-02T14:08:03.000Z,sms
460,2544b1e220f659cb3f7ff7933da65677,South South,delta,oshimili south,NaN,samsung,samsung os,unspecified,994.9700,20.0,...,0.0,44.0,medium,M,33.0,Smartphone,/110/1348/1428,doubble_july1_5 SMS,2019-07-02T13:46:27.000Z,sms
40352,5fbcb2ccb24c821ee434bb7fd066c0c4,NaN,NaN,NaN,NaN,itel,android,6,754.1600,360.0,...,0.0,46.0,medium,M,48.0,Smartphone,/110/1355/1438,doubble_july4_8_adcopy2 SMS,2019-07-06T16:13:45.000Z,sms
62181,d0cb0a1da61d4b7f174029528af765db,South South,rivers,port harcourt,NaN,tecno,proprietary os,unspecified,4987.1450,1565.0,...,0.0,46.0,high,M,40.0,Feature Phone,/110/1348/1428,doubble_july1_5 SMS,2019-07-02T14:51:04.000Z,sms
20812,143df41e11617889d8268a30213ca8b6,South East,abia,obi ngwa,NaN,samsung,samsung os,unspecified,8331.3755,0.0,...,0.0,46.0,very high,F,21.0,Smartphone,/110/1063/1138,Doubble_june_abia SMS,2019-06-05T07:03:24.000000,sms
38860,901f45e64a15cee9f4d2d31ba7084d23,South West,ogun,abeokuta south,NaN,itel,proprietary os,unspecified,1542.2050,0.0,...,0.0,46.0,medium,M,33.0,Feature Phone,/110/1348/1428,doubble_july1_5 SMS,2019-07-02T13:30:09.000Z,sms
17655,7a5cffd2f9c8feb50befdee66c509a72,NaN,NaN,NaN,NaN,ibrit,android,unspecified,1404.5800,0.0,...,0.0,44.0,medium,M,63.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:44:04.000Z,sms
7443,95f79af59b09285a836d1e9e64487600,South South,rivers,obio/akpor,NaN,tecno,android,unspecified,8640.4000,4410.0,...,0.0,49.0,very high,F,40.0,Smartphone,/110/1348/1428,doubble_july1_5 SMS,2019-07-02T15:08:16.000Z,sms
24912,159c7aa14d10bd49ad605d6d234686ee,North East,bauchi,darazo,NaN,htc,android,4.4.2,50.0000,60.0,...,0.0,186.0,low,M,25.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:44:21.000Z,sms

In [56]:
wk.drop('location_city', axis=1, inplace=True)

In [57]:
cat = [i for i in wk.columns if wk[i].dtype == object]
cat

['msisdn',
 'location_region',
 'location_state',
 'location_lga',
 'device_manufacturer',
 'os_name',
 'os_version',
 'customer_value',
 'gender',
 'device_type',
 'ad_id',
 'ad_name',
 '@timestamp',
 'event_type']

In [58]:
num = [p for p in wk.columns if p not in cat]
num

['spend_total',
 'spend_vas',
 'spend_voice',
 'spend_data',
 'sms_cost',
 'xtra_data_talk_rev',
 'customer_class',
 'age']

In [59]:
wk.isna().sum()

msisdn                     0
location_region         8003
location_state          8003
location_lga            8006
device_manufacturer     1754
os_name                 2297
os_version              1907
spend_total             1229
spend_vas              11284
spend_voice            11284
spend_data             11284
sms_cost               11284
xtra_data_talk_rev     11284
customer_class          1230
customer_value          1229
gender                  1847
age                    12031
device_type              696
ad_id                      0
ad_name                    0
@timestamp                 1
event_type                 1
dtype: int64

In [60]:
# from sklearn.impute import KNNImputer, SimpleImputer
# knim = KNNImputer(n_neighbors=5)
# missing = [i for i in num if wk[i].isna().sum() != 0]
# if missing != []:
#     wk[missing]= knim.fit_transform(wk[missing])

# # wk[missing].fillna('unspecified', inplace=True)

# obj = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# missing = [i for i in cat if wk[i].isna().sum() != 0]
# if missing != []:
#     wk[missing] = obj.fit_transform(wk[missing])

# # wk[missing].fillna('unspecified', inplace=True)

for a in cat:
    wk[a].fillna(wk[a].mode()[0],inplace=True)
for b in num:
    wk[b].fillna(wk[b].median(), inplace=True)

wk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66739 entries, 0 to 66738
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   msisdn               66739 non-null  object
 1   location_region      66739 non-null  object
 2   location_state       66739 non-null  object
 3   location_lga         66739 non-null  object
 4   device_manufacturer  66739 non-null  object
 5   os_name              66739 non-null  object
 6   os_version           66739 non-null  object
 7   spend_total          66739 non-null  float64
 8   spend_vas            66739 non-null  float64
 9   spend_voice          66739 non-null  float64
 10  spend_data           66739 non-null  float64
 11  sms_cost             66739 non-null  float64
 12  xtra_data_talk_rev   66739 non-null  float64
 13  customer_class       66739 non-null  float64
 14  customer_value       66739 non-null  object
 15  gender               66739 non-null  object
 16  age                  66739 non-null  float64
 17  device_type          66739 non-null  object
 18  ad_id                66739 non-null  object
 19  ad_name              66739 non-null  object
 20  @timestamp           66739 non-null  object
 21  event_type           66739 non-null  object
dtypes: float64(8), object(14)
memory usage: 11.2+ MB

In [61]:
wkd = wk.copy()
wkd.corr()

,spend_total,spend_vas,spend_voice,spend_data,sms_cost,xtra_data_talk_rev,customer_class,age
spend_total,1.000000,0.571265,0.202066,0.098540,0.097420,0.026511,0.052048,0.027091
spend_vas,0.571265,1.000000,0.076115,0.053906,0.031920,0.002137,0.011626,0.019654
spend_voice,0.202066,0.076115,1.000000,0.213006,0.345244,-0.015189,0.072140,0.076103
spend_data,0.098540,0.053906,0.213006,1.000000,0.152866,0.026255,0.029733,-0.002562
sms_cost,0.097420,0.031920,0.345244,0.152866,1.000000,-0.000691,0.037308,0.065335
xtra_data_talk_rev,0.026511,0.002137,-0.015189,0.026255,-0.000691,1.000000,-0.000562,0.012105
customer_class,0.052048,0.011626,0.072140,0.029733,0.037308,-0.000562,1.000000,0.022761
age,0.027091,0.019654,0.076103,-0.002562,0.065335,0.012105,0.022761,1.000000

In [62]:
wkd['@timestamp'] = pd.to_datetime(wkd['@timestamp'])
wkd['day'] = [t.date().strftime('%A') for t in wkd['@timestamp']]
wkd['period'] = ['day' if i.time().hour in range(6, 21) else 'night' for i in wkd['@timestamp']]


wkd['age_group'] = ['1 - 12' if i in range(1,13)
                      else '13 - 16' if i in range(13,17)
                      else '17 - 40' if i in range(17,41)
                      else '41 - 64' if i in range(41,65)
                      else '65+'
                      for i in wkd.age]

In [63]:
wkd[cat].nunique()

msisdn                 66277
location_region            6
location_state            37
location_lga             749
device_manufacturer      517
os_name                   31
os_version                72
customer_value             5
gender                     2
device_type                2
ad_id                     73
ad_name                   74
@timestamp             31696
event_type                 2
dtype: int64

In [64]:
unwanted=['msisdn', '@timestamp', 'device_manufacturer','ad_id', 'location_lga', 'ad_name', 'os_name','os_version','location_state'] # 
cat = [i for i in wkd.columns if wkd[i].dtype == object]
nw_cat = list(set(cat) - set(unwanted))
col = list(set(nw_cat).union(set(num)))
col

['age',
 'customer_value',
 'gender',
 'sms_cost',
 'spend_total',
 'xtra_data_talk_rev',
 'age_group',
 'day',
 'event_type',
 'spend_vas',
 'customer_class',
 'spend_voice',
 'location_region',
 'device_type',
 'spend_data',
 'period']

In [65]:
wkd['event_type'].value_counts()

sms      64884
Click     1855
Name: event_type, dtype: int64

In [66]:
c = list(set(nw_cat)- set(['event_type']))

In [67]:
wkd = wkd[col]
wkd['event_type'] =  wkd['event_type'].map({'Click':1, 'sms':0})
wkd.head()

,age,customer_value,gender,sms_cost,spend_total,xtra_data_talk_rev,age_group,day,event_type,spend_vas,customer_class,spend_voice,location_region,device_type,spend_data,period
0,26.0,high,M,68.0,2671.0800,0.0,17 - 40,Monday,1,0.0,44.0,1911.440000,North West,Smartphone,1050.0,day
1,33.0,high,M,24.0,5094.3770,500.0,17 - 40,Tuesday,1,220.0,49.0,598.400000,South East,Smartphone,0.0,night
2,27.0,very high,M,0.0,7135.5865,0.0,17 - 40,Tuesday,1,0.0,44.0,0.000000,South West,Smartphone,0.0,day
3,53.0,low,M,0.0,100.0000,0.0,41 - 64,Tuesday,1,0.0,49.0,828.833339,South West,Smartphone,0.0,day
4,51.0,low,M,0.0,202.4500,0.0,41 - 64,Friday,1,60.0,44.0,89.800000,South West,Smartphone,0.0,day

In [68]:
X = wkd.drop(['event_type', 'spend_vas', 'age'], axis=1)
y = wkd['event_type']

from sklearn.model_selection import train_test_split
trainX, testX, trainy,testy = train_test_split(X, y, test_size=0.25, random_state= 101)

In [69]:
trainX.shape, testX.shape

((50054, 13), (16685, 13))

In [70]:
for i in c:
    print(f'{i}:{ X[i].unique()}')

customer_value:['high' 'very high' 'low' 'medium' 'top']
gender:['M' 'F']
age_group:['17 - 40' '41 - 64' '65+' '1 - 12' '13 - 16']
day:['Monday' 'Tuesday' 'Friday' 'Wednesday' 'Sunday' 'Saturday' 'Thursday']
location_region:['North West' 'South East' 'South West' 'North Central' 'North East'
 'South South']
device_type:['Smartphone' 'Feature Phone']
period:['day' 'night']

In [71]:
# trainX[num].skew()

In [72]:
import category_encoders as ce
binary = ce.BinaryEncoder(cols=c)
trainX = binary.fit_transform(trainX)
joblib.dump(binary, open('binary.pkl', 'wb'))
testX = binary.transform(testX)

In [73]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
under = RandomUnderSampler()
over = SMOTE()
trainX, trainy = under.fit_resample(trainX, trainy)
trainX, trainy = over.fit_resample(trainX, trainy)

In [74]:
trainy.value_counts()

0    1376
1    1376
Name: event_type, dtype: int64

In [75]:
from sklearn.preprocessing import PowerTransformer, RobustScaler
sc = RobustScaler()
trainX = sc.fit_transform(trainX)
joblib.dump(sc, open('sc.pkl', 'wb'))
testX = sc.transform(testX)

In [76]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold
rfc = RandomForestClassifier()
scores  = cross_val_score(rfc, trainX, trainy, cv = 10, scoring = 'f1')
print(f"Validation score: {np.mean(scores)}")
rfc.fit(trainX, trainy)
joblib.dump(rfc, open('rfc.pkl', 'wb'))
ypred = rfc.predict(testX)

Validation score: 0.7031106688578905

In [77]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(ypred, testy))
print(confusion_matrix(ypred, testy))

              precision    recall  f1-score   support

           0       0.72      0.99      0.83     11823
           1       0.67      0.07      0.12      4862

    accuracy                           0.72     16685
   macro avg       0.69      0.53      0.48     16685
weighted avg       0.71      0.72      0.62     16685

[[11665   158]
 [ 4541   321]]

In [78]:
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold
from imblearn.pipeline import Pipeline


pipe = Pipeline(steps=[('encode', binary),('under', under),('over', over), ('trans', sc), ('model', rfc)])
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(pipe, X, y, scoring='roc_auc',cv = cv, n_jobs= -1)
print(np.mean(scores), np.std(scores))

0.775796409722794 0.020212648462136235